*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #c2bcbc;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    width: 650px;
    height: 390px;
    background-color: red;
}
.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}